@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #88a0e1;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track { background: #8dabee; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #eeb539; }
